rest-http/resources/soap-client/src/main/resources/wsdl/carbon-footprints.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns="FootprintService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BookService"
                  targetNamespace="FootprintService">
    <wsdl:documentation>Carbon Footprint</wsdl:documentation>
    <wsdl:types>
        <xsd:schema targetNamespace="FootprintService">
            <xsd:element name="Footprint">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ID" type="xsd:integer" />
                        <xsd:element name="Footprint" type="xsd:integer"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Footprints">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns:Footprint" minOccurs="0" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetFootprint">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ID" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="GetFootprintResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns:Footprint" minOccurs="0" maxOccurs="1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="GetFootprintRequest">
        <wsdl:part element="tns:GetFootprint" name="parameters" />
    </wsdl:message>
    <wsdl:message name="GetFootprintResponse">
        <wsdl:part element="tns:GetFootprintResponse" name="parameters" />
    </wsdl:message>
    <wsdl:portType name="FootprintService">
        <wsdl:operation name="GetFootprint">
            <wsdl:input message="tns:GetFootprintRequest" />
            <wsdl:output message="tns:GetFootprintResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="FootprintServiceSOAP" type="tns:FootprintService">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="GetFootprint">
            <soap:operation soapAction="FootprintService/GetFootprint" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="FootprintService">
        <wsdl:port binding="tns:FootprintServiceSOAP" name="FootprintServiceSOAP">
            <soap:address location="http://localhost:8080" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>

